= form_for @serving do |f|
  - if @serving.errors.any?
    #error_explanation
      %h2= "#{pluralize(@serving.errors.count, "error")} prohibited this serving from being saved:"
      %ul
        - @serving.errors.full_messages.each do |message|
          %li= message

  %ol.inputs
    %li
      = f.label :serving
      = f.text_field :serving
    %li
      = f.label :food
      = f.text_field :food
    %li.actions
      = f.submit 'Save'
