%table
  -# %thead
  -#   %tr
  -#     %th Name
  -#     %th Serving
  -#     %th Calories
      -# %th
      -# %th
      -# %th

  %tbody
    %tr.space
      %td
    - @servings.each do |serving|
      %tr
        %td= link_to serving.food_name, serving
        %td= serving.food.calories
        %td
          -# = link_to 'Show', serving
          = link_to image_tag("edit.png"), edit_serving_path(serving)
          = link_to image_tag("trash.png"), serving, method: :delete, data: { confirm: 'Are you sure?' }
      %tr.entry_actions
        -#TODO: include icons for actions.
        %td= serving.serving.to_s + " serving"

        %td
        %td

%br

= link_to 'New Serving', new_serving_path
