%h2 Your Food
%ul.controls
  %li#new_serving_btn= link_to 'Add New Item', new_serving_path
%table
  -# %thead
  -#   %tr
  -#     %th Name
  -#     %th Serving
  -#     %th Calories
      -# %th
      -# %th
      -# %th

  %tbody
    - @servings.each do |serving|
      %tr
        %td.food_name= link_to serving.food_name, serving
        %td.desktop_items.right_align= serving.food.carbohydrates.to_s + "g of Carbohydrates"
        %td.desktop_items.right_align= serving.food.fat.to_s + "g of Fat"
        %td.desktop_items.right_align=serving.food.protein.to_s + "g of Protein"
        %td.right_align= serving.food.calories.to_s + " cal"
        %td.right_align
          -# = link_to 'Show', serving
          = link_to image_tag("edit.png"), edit_serving_path(serving)
          = link_to image_tag("trash.png"), serving, method: :delete, data: { confirm: 'Are you sure?' }
      %tr.entry_actions
        -#TODO: include icons for actions.
        %td= serving.serving.to_s + " serving"

        %td
        %td

%br
