%ul
  %li
    %h3.food_name= @serving.food.name
  %li
    %h3 Serving:
    %p= @serving.serving
  %li
    %h3 Category:
    %p= @serving.food.category
  %li
    %h3 Calories:
    %p= @serving.food.calories.to_s + " cal"
  %li
    %h3 Carbs:
    %p= @serving.food.carbohydrates.to_s + "g"
  %li
    %h3 Proteins:
    %p= @serving.food.protein.to_s + "g"
  %li
    %h3 Fats:
    %p= @serving.food.fat.to_s + "g"
%ul.controls
  %li
    = link_to 'Back', servings_path
    = link_to 'Edit', edit_serving_path(@serving)
    = link_to 'Delete', @post, method: :delete, data:{confirm: 'Are you sure?'}
