%p#notice= notice

%ul
  %li
    %h3 Food Name:
    = @serving.food.name
  %li
    %h3 Serving:
    = @serving.serving
  %li
    %h3 Category:
    = @serving.food.category
  %li
    %h3 Calories:
    = @serving.food.calories
  %li
    %h3 Carbs:
    = @serving.food.carbohydrates.to_s + "g"
  %li
    %h3 Proteins:
    = @serving.food.protein.to_s + "g"
  %li
    %h3 Fats:
    = @serving.food.fat.to_s + "g"

  %ul.controls
    %li= link_to 'Edit', edit_serving_path(@serving)
    %li= link_to 'Delete', @post, method: :delete, data:{confirm: 'Are you sure?'}
%footer
  = link_to 'Back', servings_path
