= form_for @food do |f|
  - if @food.errors.any?
    #error_explanation
      %h2= "#{pluralize(@food.errors.count, "error")} prohibited this food from being saved:"
      %ul
        - @food.errors.full_messages.each do |message|
          %li= message

  %ol.inputs
    %li
      = f.label :name, "Food Name"
      = f.text_field :name
    %li
      = f.label :category
      = f.text_field :category
    %li
      = f.label :calories
      = f.text_field :calories
    %li
      = f.label :carbohydrates
      = f.text_field :carbohydrates
    %li
      = f.label :protein
      = f.text_field :protein
    %li
      = f.label :fat
      = f.text_field :fat
    %li.actions
      = f.submit 'Save'
